{% extends 'layout.html' %}
{% block content %}

<div class = "content-section card">

<h2 align="center"> <b> "To sponsor or to get sponsored,<br> that is the question" </b></h2>

<hr>

<p>If you find yourself relating to this quote, then this is just the right place. 
No more manual Google searches, no more tedious shortlisting, no more hassle of juggling between platforms to set up your connections, appointments or transactions. Whether you are waiting for patronage or willing to give it, Spons.Central is the place where you have what's necessary.</p>

<p>Set up in an elegantly effecient and fluid interface, we make the process as simple as for you as we can:
Select what you're looking for - a sponsor or sponsee, fill in your details (make yourself discoverable). Select your filters to view the users accordingly. Then select the profiles you want to connect with. Conversational exchanges, or links for transaction - you'd get it all here.</p>

<p>Allow us the pleasure of offering you this service (no more gate-crashing, we promise)</p>

<h3 align="center"><b>Connect. Select. Sponsor. </b></h3>
<br>

</div>

{% endblock content %}