<!DOCTYPE html>
<html>
    <head>
        <hr>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="static/logo.ico">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='background.css') }}">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
        <style>
            /* this div element contains the map. Sets size of the div */
            #map
            {
                height: 80%;
                width: 100%;
            }
            html, body
            {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
    <!--The div element for the map -->
        <div id="map" class="content-section"></div>
        <hr>
        
        <div class="container" text-align="center">

            <h4 align="center"><b>[See how near they are from you] </b></h4>

                {% if current_user.type == 'P' %}
                    <a class="btn btn-outline-info" href="{{url_for('nearbySponsorRoute')}}"><h4 align="center">Back to searching</h4></a>
                {% elif current_user.type == 'S' %}
                    <a class="btn btn-outline-info" href="{{url_for('nearbyPartyRoute')}}"><h4 align="center">Back to searching</h4></a>
                {% endif %}

        </div>

        <script>
        // Initialize and add the map
        function initMap()
        {
            //current user
            var location_origin = {lat: {{lat}}, lng: {{lng}}};
            // map opens, centered at this location
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 10, center: location_origin});
            // The marker, positioned at location_origin
            var markerUser = new google.maps.Marker({position: location_origin, map: map});


            //user being viewed
            var markerProfile = new google.maps.Marker
                (
                    {
                        position: new google.maps.LatLng({{lat2}}, {{lng2}}),
                        map: map
                    }
                );

        }

        </script>


    <!--Loading API from the mentioned URL
    async attribute allows the browser to render the page while the API loads
    the 'callback' parameter will execute the initMap() function -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKlMl1HFw1wNG4sEDWzEe1Mnth9qWPyI8&callback=initMap">
    </script>
  </body>
</html>
