{% from geopy.geocoders import Nominatim %}

<!DOCTYPE html>
<html>
  <head>
    <style>
       /* this div element contains the map. Sets size of the div */
      #map {
        height: 100%;
       }
      html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      }
    </style>
  </head>
  <body>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {

  {% if current_user.type == 'P' %}

      {{ geolocator = Nominatim() }}
      {{ location = geolocator.geocode(partyUser.party_address) }}
      {{ lat = location.latitude }}
      {{ lng = location.longitude }}

  {% else %}
      {{ geolocator = Nominatim() }}
      {{ location = geolocator.geocode(sponsorUser.sponsor_address) }}
      {{ lat = location.latitude }}
      {{ lng = location.longitude }}

   var loc = {lat: lat, lng: lng};
    // map opens, centered at this location
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 12, center: loc});
    // The marker, positioned at loc
    var marker = new google.maps.Marker({position: loc, map: map});

}
    </script>
    <!--Loading API from the mentioned URL
    async attribute allows the browser to render the page while the API loads
    the 'callback' parameter will execute the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKlMl1HFw1wNG4sEDWzEe1Mnth9qWPyI8&callback=initMap">
    </script>
  </body>
</html>
