{% extends "layout.html" %}
{% block content %}

    <div class="content-section">

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">

                <div class="form-group">
                    
                    {% for message in messages %}
                    <p>{{message[0]}}</p>
                                            <p>{{message[1]}}</p>
                    {% endfor %}

                    {% if form.text.errors %}
                        {{ form.text(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.text.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.text(class="form-control form-control-lg") }}
                    {% endif %}



                </div>
            </fieldset>
            <div class="form-group">
                {{ form.send(class="btn btn-outline-info") }}
            </div>
        </form>

        </form>


    </div>

{% endblock content %}
