{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div>

        {% for message in messages %}
            <p>{{ message[0] }}</p>
            <b>{{ message[1] }} </b>
        {% endfor %}
    </div>
    <form method="POST" action="/chatbox" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.text.label(class="form-control-label") }}
                {% if form.text.errors %}
                    {{ form.text(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.text.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.text(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.send(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}
