{% extends "layout.html" %}
{% block content %}

<div class="content-section">

	<p> <h3> Want to send this user an email? </h3> </p>
	<br>
	<p><b> Select your email service provider, here are some of the most common ones*</b><br>(in case your preference isn't listed below, we apologize. If it is, let's go!)</p>
	<p> Click on the link and login, and take the first step towards getting connected: </p>
	<hr>
	<p><a href="https://accounts.google.com/Login">Gmail</a></p>
	<p><a href="https://login.yahoo.com/">Yahoo! Mail</a></p>
	<p><a href="https://premium.outlook.com/">Outlook</a></p>
	<p><a href="login.vsnl.com/">Webmail</a></p>
	<p><a href="https://www.msn.com/">MSN</a></p>
	<hr>
	<p><i>*The links provided on this webpage have been verified to be authentic as of July 2018. Spons.Central provides these links to third parties to facilitate a better user experience and shall not be held responsible for any activity that occurs beyond the domains of Spons.Central's official website.</p></i>

</div>
{% endblock %}