

{% extends "layout.html" %}
{% block content %}


  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="234892471054-9eo6d6c41cjn4qvpe9lpj6od5m1f04n3.apps.googleusercontent.com">

  <script src="https://apis.google.com/js/platform.js" async defer></script> <!--SIGN IN WITH GOOGLE-->

    <!-- GOOGLE API SIGN OUT

    <a href="#" onclick="signOut();">Sign out</a>
    <script>
      function signOut() {//For signing out
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
        console.log('User signed out.');
    });
  }
    </script> -->

    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>

                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>


            <!--GOOGLE SIGN IN API--



            FOR CUSTOMIZED BUTTON:

            <script>

              function attachSignin(element) {
                console.log(element.id);
                auth2.attachClickHandler(element, {},
                    function(googleUser) {
                      document.getElementById('name').innerText = "Signed in: " +
                          googleUser.getBasicProfile().getName();
                    }, function(error) {
                      alert(JSON.stringify(error, undefined, 2));
                    });
              }
            </script>


            <style type="text/css">
                #customBtn {
                  display: inline-block;
                  background: white;
                  color: #446;
                  width: 190px;
                  border-radius: 5px;
                  border: thin solid #888;
                  box-shadow: 1px 1px 1px grey;
                  white-space: nowrap;
                }
                #customBtn:hover {
                  cursor: pointer;
                }
                span.label {
                  font-family: serif;
                  font-weight: normal;
                }
                span.icon {
                  background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
                  display: inline-block;
                  vertical-align: middle;
                  width: 42px;
                  height: 42px;
                }
                span.buttonText {
                  display: inline-block;
                  vertical-align: middle;
                  padding-left: 42px;
                  padding-right: 42px;
                  font-size: 14px;
                  font-weight: bold;
                  /* Use the Roboto font that is loaded in the <head> */
                  font-family: 'Roboto', sans-serif;
                }
            </style>


             <script>
              var googleUser = {};
              var startApp = function() {
                gapi.load('auth2', function(){
                  // Retrieve the singleton for the GoogleAuth library and set up the client.
                  auth2 = gapi.auth2.init({
                    client_id: '234892471054-m0oe9a0i9g64dokmeu6dj5hgd132896b.apps.googleusercontent.com',
                    cookiepolicy: 'single_host_origin',
                    // Request scopes in addition to 'profile' and 'email'
                    //scope: 'additional_scope'
                  });
                  attachSignin(document.getElementById('customBtn'));
                });
              };
            </script>


            <div id="gSignInWrapper">
            <span class="label">Sign in with:</span>
            <div id="customBtn" class="customGPlusSignIn">
              <span class="icon"></span>
              <span class="buttonText">Google</span>
            </div>
          </div>
          <div id="name"></div>
          <script>startApp();</script>-->




            
            <script>
            function attachClickHandler(){

                var auth2;
                    var initClient = function() {
                        gapi.load('auth2', function(){
                            auth2 = gapi.auth2.init({
                    client_id: '234892471054-9eo6d6c41cjn4qvpe9lpj6od5m1f04n3.apps.googleusercontent.com'
                    auth2.attachClickHandler('signin-button', {}, onSuccess, onFailure);
                    });
                };

                var onSuccess = function(user) {
                    console.log('Signed in as ' + user.getBasicProfile().getName());
                 };

                 var onFailure = function(error) {
                    console.log(error);
                };
            }
            </script>

        

        <meta name="google-signin-client_id" content="234892471054-9eo6d6c41cjn4qvpe9lpj6od5m1f04n3.apps.googleusercontent.com">

        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

        <div id="google-signin-button"
             class="g-signin2"
             data-width="170"
             data-height="30"
             data-onsuccess="onSignIn"
             data-onfailure="onSignInFailure">
        </div>

        <script>

        function onSignIn(googleUser) {
            if (auth2.isSignedIn.get()) {
                var profile = googleUser.getBasicProfile();
                console.log("ID: " + profile.getId()); //not be sent to the server/backend [we will still use normal user object for sending user data like we were originally doing]
                console.log('Full Name: ' + profile.getName());
                console.log('Given Name: ' + profile.getGivenName());
                console.log('Family Name: ' + profile.getFamilyName());
                console.log("Image URL: " + profile.getImageUrl());
                console.log("Email: " + profile.getEmail());

                // ID to be passed to he backend
                var id_token = googleUser.getAuthResponse().id_token;
                console.log("ID Token: " + id_token);

                var xhr = new XMLHttpRequest();
                xhr.open('POST', 'https://yourbackend.example.com/tokensignin');
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function() {
                  console.log('Signed in as: ' + xhr.responseText);
                };
                xhr.send('idtoken=' + id_token);
            }
        }

        function onSignOut(){
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut();
        }
        </script>

<!---END OF GOOGLE API SNIPPET-->



<!--FACEBOOK LOGIN-->






            <small class="text-muted ml-2">
                <a href="#">Forgot Password?</a>
            </small>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
        </small>
    </div>
{% endblock content %}
