

{% extends "layout.html" %}
{% block content %}

<html itemscope itemtype="http://schema.org/Article">
<head>
  <!-- Pre-requisites begin-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
  </script>
  <!-- Pre-requisites end -->
   <script>
    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: 'YOUR_CLIENT_ID.apps.googleusercontent.com',
          // Scopes to request in addition to 'profile' and 'email'
          //scope: 'additional_scope'
        });
      });
    }
  </script>
 </head>

<body>
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="234892471054-9eo6d6c41cjn4qvpe9lpj6od5m1f04n3.apps.googleusercontent.com">

  <script src="https://apis.google.com/js/platform.js" async defer></script> <!--SIGN IN WITH GOOGLE-->

    <!-- GOOGLE API SIGN OUT-->

    <a href="#" onclick="signOut();">Sign out</a>
    <script>
      function signOut() {//For signing out
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
        console.log('User signed out.');
    });
  }
    </script>

    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>

                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

<!--GOOGLE API SIGN IN -->
            <script>
            function attachClickHandler(){
                var auth2;
                    var initClient = function() {
                        gapi.load('auth2', function(){
                            auth2 = gapi.auth2.init({
                    client_id: '234892471054-9eo6d6c41cjn4qvpe9lpj6od5m1f04n3.apps.googleusercontent.com'
                    auth2.attachClickHandler('signin-button', {}, onSuccess, onFailure);
                    });
                };
                var onSuccess = function(user) {
                    console.log('Signed in as ' + user.getBasicProfile().getName());
                 };
                 var onFailure = function(error) {
                    console.log(error);
                };
            }
            </script>

        <meta name="google-signin-client_id" content="234892471054-9eo6d6c41cjn4qvpe9lpj6od5m1f04n3.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
        <div id="google-signin-button"
             class="g-signin2"
             data-width="190"
             data-height="40"
             data-onsuccess="onSignIn"
             data-onfailure="onSignInFailure">
        </div>
        <script>
        function onSignIn(googleUser) {
            if (auth2.isSignedIn.get()) {
                var profile = googleUser.getBasicProfile();
                console.log("ID: " + profile.getId()); //not be sent to the server/backend [we will still use normal user object for sending user data like we were originally doing]
                console.log('Full Name: ' + profile.getName());
                console.log('Given Name: ' + profile.getGivenName());
                console.log('Family Name: ' + profile.getFamilyName());
                console.log("Image URL: " + profile.getImageUrl());
                console.log("Email: " + profile.getEmail());
                // ID to be passed to he backend
                var id_token = googleUser.getAuthResponse().id_token;
                console.log("ID Token: " + id_token);
                var xhr = new XMLHttpRequest();
                xhr.open('POST', 'https://http://nidheekamble.pythonanywhere.com/tokensignin');
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function() {
                  console.log('Signed in as: ' + xhr.responseText);
                };
                xhr.send('idtoken=' + id_token);
            }
        }
        function onSignOut(){
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut();
        }
        </script>
<!---END OF GOOGLE API SNIPPET-->

            <small class="text-muted ml-2">
                <a href="#">Forgot Password?</a>
            </small>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
        </small>
    </div>
    </body>
</html>
{% endblock content %}
