{% extends "layout.html" %}
{% block content %}

<h2>Meet The Team</h2>
<p>The ones who runs this company</p>
<br>

<div class="row">
  <div class="col-md 8">
    <div class="card">
      <img src="/static/team_pics/Apurva.jpg" alt="Apurva" style="width:100%">
      <div class="container">
        <h2>Apurva Mahajan</h2>
        <p class="title">IT, VJTI 2017-21</p>
        <p>Front End Design</p>
        <p>apurvamahajan246@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="col-md 8">
    <div class="card">
      <img src="/static/team_pics/Nidhee.jpg" alt="Nidhee" style="width:100%">
      <div class="container">
        <h2>Nidhee Kamble</h2>
        <p class="title">CSE, VJTI 2017-21</p>
        <p>API integration, cryptography, content write-up and website URL generation</p>
        <p>kamble.nidhee@gmail.com</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md 8">
    <div class="card">
      <img src="/static/team_pics/Shreyansh.jpg" alt="Shreyansh" style="width:100%">
      <div class="container">
        <h2>Shreyansh Chheda</h2>
        <p class="title">CSE, VJTI 2017-21</p>
        <p>Some text that describes me.</p>
        <p>shreyansh.chheda@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="col-md 8">
    <div class="card">
      <img src="static/team_pics/Vidhi.jpg" alt="Vidhee" style="width:100%">
      <div class="container">
        <h2>Vidhi Rambhia</h2>
        <p class="title">CSE, VJTI 2017-21</p>
        <p>Some text that describes me.</p>
        <p>vsrambhia.10@gmail.com</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}