{% extends "layout.html" %}
{% block content %}

<h2>Meet The Team</h2>
<hr>

<div class="row">


  <div class="col-md 8">
    <div class="card">
      <img src="static/team_pics/Nidhee.JPG" alt="Vidhee" style="width:100%">
      <div class="container"><br>
        <h2>Nidhee Kamble</h2>
        <h5>CSE, VJTI 2017-21</h5><hr>
        <p class="title">Handling Maps and all related aspects, hashing for login, content write-up, project documentation, website deployment</p>
        <p><b>Email: </b>kamble.nidhee@gmail.com</p>
      </div>
    </div>
  </div>


<br>



  <div class="col-md 8">
    <div class="card">
      <img src="static/team_pics/Vidhi.jpg" alt="Vidhee" style="width:100%">
      <div class="container"><br>
        <h2>Vidhi Rambhia</h2>
        <h5>CSE, VJTI 2017-21</h5><hr>
        <p class="title">Server side logic development, database definition and management, form and route handling</p>
        <p><b>Email: </b> vsrambhia@gmail.com</p>
      </div>
    </div>
  </div>
</div>

<br>


<br>
<h6><i> Background Illustration and colour scheme for Spons.Central by: Indranil Ujagare, Blue Design, NID Vijayawada </i><h6>

{% endblock content %}
