{% extends "layout.html" %}
{% block content %}

<h2>Meet The Team</h2>
<hr>

<div class="row">
  <div class="col-md 8">
    <div class="card">
      <img src="/static/team_pics/Apurva.jpg" alt="Apurva" style="width:100%">
      <div class="container"><br>
        <h2>Apurva Mahajan</h2>
        <h5> IT, VJTI 2017-21</h5> <hr>
        <p class="title">User Experience, User Interface and website layout designing</p>
        <p> </p>
        <p><b>Email:</b> apurvamahajan246@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="col-md 8">
    <div class="card">
      <img src="/static/team_pics/Nidhee.jpg" alt="Nidhee" style="width:100%">
      <div class="container"><br>
        <h2>Nidhee Kamble</h2>
        <h5>CSE, VJTI 2017-21</h5><hr>
        <p class="title">Handling Maps and all related aspects, hashing for login, content write-up, project documentation, website deployment</p>
        <p><b>Email: </b>kamble.nidhee@gmail.com</p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md 8">
    <div class="card">
      <img src="/static/team_pics/Shreyansh.jpg" alt="Shreyansh" style="width:100%">
      <div class="container"><br>
        <h2>Shreyansh Chheda</h2>
        <h5>CSE, VJTI 2017-21</h5><hr>
        <p class="title">Fullstack development</p>
        <p><b>Email: </b>shreyansh.chheda@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="col-md 8">
    <div class="card">
      <img src="static/team_pics/Vidhi.jpg" alt="Vidhee" style="width:100%">
      <div class="container"><br>
        <h2>Vidhi Rambhia</h2>
        <h5>CSE, VJTI 2017-21</h5><hr>
        <p class="title">Server side logic development, database definition and management, form and route handling</p>
        <p><b>Email: </b> vsrambhia.10@gmail.com</p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md 8">
    <div class="card">
      <img src="/static/team_pics/Drakeson.jpg" alt="Drakeson Simpson" style="width:100%">
    </div>
  </div>

  <div class="col-md 8">
    <div class="card">
     <div class="container"><br>
        <h2>Drakeson Simpson</h2>
        <h5> Reaction Character </h5> <hr>
        <p class="title">Provision of medium of expression of speechlessness, shock, and frustration induced by code errors. Vidhi, Shreyansh, Nidhee, and Apurva share it with appropriate captions on aforementioned instances. </p> <br>
      </div>
    </div>
  </div>
</div>

<br>
<h6><i> Background Illustration and colour scheme for Spons.Central by: Indranil Ujagare, Blue Design, NID Vijayawada </i><h6>

{% endblock content %}
