<!DOCTYPE html>
<html>
    <head>
        <hr>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='background.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='footer.css') }}">
        <style>
            /* this div element contains the map. Sets size of the div */
            #map
            {
                height: 100%;
            }
            html, body
            {
                min-height: 100vh;
                margin: 0;
                padding: 0;
            }
        </style>
        <div class="card-bg">
            <h2 align="center" >Here you go.</h2>
            <h6 align="center">Scroll down to see the list of profiles displayed on map, and click on the ones you wish to view separately. </h6>
        </div>
        <hr>
    </head>
    <body>
    <!--The div element for the map -->
        <div class="container row no-gutters">
            <script>
            // Initialize and add the map
            function initMap()
            {

                var bounds  = new google.maps.LatLngBounds();

                var loc = {lat: {{lat}}, lng: {{lng}}};
                // map opens, centered at this location
                var map = new google.maps.Map(
                    document.getElementById('map'), {zoom: 11, center: loc});
                // The marker, positioned at loc
                var marker = new google.maps.Marker({position: loc, map: map});

                var marker, i=0;

                {% for i in range (0,elements): %}
                {
                    marker = new google.maps.Marker
                    (
                        {
                            position: new google.maps.LatLng({{nearby_list[i][1]}}, {{nearby_list[i][2]}}),
                            map: map
                        }
                    );

                    i = i+1;
                }
                {% endfor %}
            }


            </script>
            <hr>


        <div class = "content-section col-md-3 card"  align=center>
            <legend class="border-bottom mb-4 navbar navbar-dark"><h4> Filter By: </h4></legend>
            <h7><b>Amount</b></h7><hr>
                <div data-role="main" class="ui-content">
                    <form method="post" action="/action_page_post.php">
                      <div>


                    {% if current_user.type == 'P' %}

                    		<h6> <b>Companies offering patronage in the range:</b></h6> <br>

                            <div class="form-group">
			                    <a class="btn btn-outline-info" href="{{ url_for('filterFrom', lowerBound=partyUser.party_fromAmount) }}"><h6> Rs. {{partyUser.party_fromAmount}} onwards</h6></a>
			                </div>

			                <div class="form-group">
			                    <a class="btn btn-outline-info"href ="{{ url_for('filterTo', upperBound=partyUser.party_toAmount) }}"><h6>Till Rs. {{partyUser.party_toAmount}} </h6></a>
			                </div>

                    {% elif current_user.type == 'S' %}

                    		<h6> <b>Fests looking for patronage in the range:</b></h6> <br>

                            <div class="form-group">
			                    <a class="btn btn-outline-info" href="{{ url_for('filterFrom', lowerBound=sponsorUser.sponsor_fromAmount) }}"><h6> Rs.{{sponsorUser.sponsor_fromAmount}} onwards</h6></a>
			                </div>

			                <div class="form-group">
			                    <a class="btn btn-outline-info"href ="{{ url_for('filterTo', upperBound=sponsorUser.sponsor_toAmount) }}"><h6>Till Rs. {{sponsorUser.sponsor_toAmount}}</h6></a>
			                </div>

                    {% endif %}

                      </div>
                    </form>
                </div>


            <hr>

            <h7><b>Cash or Kind</b></h7><hr>

                <div class="form-group">
                    <a class="btn btn-outline-info"  href ="{{url_for('filterKind', kind='C')}}"><h6>Cash</h6></a>
                </div>

                <div class="form-group">
                    <a class="btn btn-outline-info"  href ="{{url_for('filterKind', kind='k')}}"><h6>Kind</h6></a>
                </div>

            <hr>

            {% if current_user.type == 'S' %}
            <h7><b>Fest Type</b></h7><hr>

                <div class="form-group">
                    <a class="btn btn-outline-info" href ="{{url_for('filterType', type='T')}}"><h6>Technical</h6></a>
                </div>

                <div class="form-group">
                    <a class="btn btn-outline-info" href ="{{url_for('filterType', type='S')}}"><h6>Sports</h6></a>
                </div>

                <div class="form-group">
                    <a class="btn btn-outline-info" href ="{{url_for('filterType', type='C')}}"><h6>Cultural</h6></a>
                </div>

                <div class="form-group">
                    <a class="btn btn-outline-info" href ="{{url_for('filterType', type='O')}}"><h6>Others</h6></a>
                </div>

            {% elif current_user.type == 'P' %}
            <h7><b>Company Type</b></h7><hr>

                <div class="form-group">
                    <a class="btn btn-outline-info" href ="{{url_for('filterType', type='F')}}"><h6>Finance</h6></a>
                </div>

                <div class="form-group">
                    <a class="btn btn-outline-info" href ="{{url_for('filterType', type='IT')}}"><h6>Information Technology</h6></a>
                </div>

                <div class="form-group">
                    <a class="btn btn-outline-info" href ="{{url_for('filterType', type='B')}}"><h6>Banking</h6></a>
                </div>

                <div class="form-group">
                    <a class="btn btn-outline-info" href ="{{url_for('filterType', type='O')}}"><h6>Other</h6></a>
                </div>

            {% endif %}

            <hr>


        <br>
        </div>
        <div class="col-md-8 container p-3 card">
            <div id="map" class="container mx-auto w-100"></div>
        </div>


        <div class = "content-section card">
            <legend class="border-bottom mb-4"><h2 class="card-bg"> User locations </h2></legend>
            <h5>(Click on usernames to view the respective profiles)</h5><hr><br>
        <ol>
            {% if nearby_list == [] %}
                <h5> Looks like your criterion did not match any users. Try a different filter </h5>
            {% else %}
                {% for place in nearby_list %}
                  <h3><li><a href="{{url_for('user2_account', user2_id=place[4])}}"> {{ place[0] }} </h3></a>
                    <b>Address: </b> {{ place[3] }} </li>
                    <hr>
                {% endfor %}
            {% endif %}
        </ol>
        </div>
    </div>

     <footer class="footer-basic-centered">

          <p class="footer-company-motto">Connect. Select. Sponsor.</p>

          <p class="footer-links">
            <a href="{{ url_for('about') }}">About Us</a>
            ·
            <a href="{{ url_for('team') }}">Meet The Team</a>
            ·
            <a href="{{ url_for('work') }}">What We Do</a>
          </p>

          <p class="footer-company-name">© 2018 Copyright: Spons.Central</p>

        </footer>


    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKlMl1HFw1wNG4sEDWzEe1Mnth9qWPyI8&callback=initMap">
    </script>
  </body>
</html>
