
<!DOCTYPE html>
<html>
    <head>
        <style>
            /* this div element contains the map. Sets size of the div */
            #map
            {
                height: 100%;
                width: 50%;
                left: 25%;
                right: 25%;
            }
            html, body
            {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
    <!--The div element for the map -->
        <div id="map" class="content-section" style="position: center"></div>
        <script>
        // Initialize and add the map
        function initMap()
        {

            var bounds  = new google.maps.LatLngBounds();

            var loc = {lat: {{lat}}, lng: {{lng}}};
            // map opens, centered at this location
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 11, center: loc});
            // The marker, positioned at loc
            var marker = new google.maps.Marker({position: loc, map: map});


            var infowindow = new google.maps.InfoWindow();

            var marker, i=0;

            {% for i in range (0,elements): %}
            {
                marker = new google.maps.Marker
                (
                    {
                        position: new google.maps.LatLng({{nearby_list[i][1]}}, {{nearby_list[i][2]}}),
                        map: map
                    }
                );

                i = i+1;
            }
            {% endfor %}
        }


        </script>

    <ol>
        {% for place in nearby_list %}
          <li><a href="user/{{ place[4] }}">{{ place[0] }} </a>
            <br> Address: {{ place[3] }} </li> <br>
        {% endfor %}
    </ol>

    <!--Loading API from the mentioned URL
    async attribute allows the browser to render the page while the API loads
    the 'callback' parameter will execute the initMap() function -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKlMl1HFw1wNG4sEDWzEe1Mnth9qWPyI8&callback=initMap">
    </script>
  </body>
</html>