<!DOCTYPE html>
<html>
    <head>
        <hr>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="static/logo.ico">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='background.css') }}">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
     
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <style>
            /* this div element contains the map. Sets size of the div */
            #map
            {
                min-height: 80vh;
            }
            html, body
            {
                min-height: 100vh;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
    <!--The div element for the map -->
        <div class="container row no-gutters">
            <script>
            // Initialize and add the map
            function initMap()
            {

                var bounds  = new google.maps.LatLngBounds();

                var loc = {lat: {{lat}}, lng: {{lng}}};
                // map opens, centered at this location
                var map = new google.maps.Map(
                    document.getElementById('map'), {zoom: 11, center: loc});
                // The marker, positioned at loc
                var marker = new google.maps.Marker({position: loc, map: map});

                var marker, i=0;

                {% for i in range (0,elements): %}
                {
                    marker = new google.maps.Marker
                    (
                        {
                            position: new google.maps.LatLng({{nearby_list[i][1]}}, {{nearby_list[i][2]}}),
                            map: map
                        }
                    );

                    i = i+1;
                }
                {% endfor %}
            }


            </script>
            <hr>


        <!--APURVA --->
        <!-- This is the div that is to be positioned to the right of the map-->

        <div class = "content-section col-md-3">
            <legend class="border-bottom mb-4">Customize your search</legend>
        
        <ol><h5><b>Filter by</b> (click on the respective filter to apply it) :</h5><hr>
            <h7><b>Amount</b></h7>
                 <div class="content-section">
                    <form method="POST" action="" enctype="multipart/form-data">
                        <fieldset class="form-group">
                            <div class="form-group">
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div data-role="main" class="ui-content">
                    <form method="post" action="/action_page_post.php">
                      <div data-role="rangeslider">
                        <label for="price-min"><h5>From Amount:</h5></label>
                        <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000"><br>
                        <label for="price-max"><h5>To Amount:</h5></label>
                        <input type="range" name="price-max" id="price-max" value="800" min="0" max="1000">
                      </div>
                      </form>
                </div>

            <hr>

            <h7><b>Cash or Kind</b></h7><br>

                <h5><a href ="{{url_for('filterKind', kind='C')}}">Cash</a></h5>
                <h5><a href ="{{url_for('filterKind', kind='K')}}">Kind</a></h5>

            <hr> 

            {% if current_user.type == 'S' %}
            <h7><b>Fest Type</b></h7><br>

                <h5><a href ="{{url_for('filterType', type='T')}}">Technical</a></h5>
                <h5><a href ="{{url_for('filterType', type='S')}}">Sports</a></h5>
                <h5><a href ="{{url_for('filterType', type='C')}}">Cultural</a></h5>
                <h5><a href ="{{url_for('filterType', type='O')}}">Other</a></h5>

            {% elif current_user.type == 'P' %}
            <h7><b>Company Type</b></h7><br>
                        
                <h5><a href ="{{url_for('filterType', type='F')}}">Finance</a></h5>
                <h5><a href ="{{url_for('filterType', type='IT')}}">IT</a></h5>
                <h5><a href ="{{url_for('filterType', type='B')}}">Banking</a></h5>
                <h5><a href ="{{url_for('filterType', type='O')}}">Other</a></h5>
                        
            {% endif %}

            <hr>
            
        </ol>
        </div>
        <div class="col-md-6 container p-3">
            <div id="map" class="container mx-auto w-100"></div>
        </div>
        <div class = "content-section col-md-3">
            <legend class="border-bottom mb-4">User locations </legend>
            <h5><b>Click on the ones you want to view separately: </b></h5><hr><br>
        <ol>
            {% if nearby_list == [] %}
                <h5> Looks like your criterion did not match any users. Try a different filter </h5>
            {% else %}
                {% for place in nearby_list %}
                  <li><a href="{{url_for('user2_account', user2_id=place[4])}}"><h5> {{ place[0] }} </h5></a>
                    <b>Address: </b> {{ place[3] }} </li> <br>
                {% endfor %}
            {% endif %}
        </ol>
        </div>
    </div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKlMl1HFw1wNG4sEDWzEe1Mnth9qWPyI8&callback=initMap">
    </script>
  </body>
</html>
