{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register as a Fest</legend>
                <div class="form-group">
                    {{ form.party_name.label(class="form-control-label") }}
                    {% if form.party_name.errors %}
                        {{ form.party_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.party_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.party_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-check">
                    {{ form.party_type.label(class="form-control-label") }}

                    {% if form.party_type.errors %}
                        {{ form.party_type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.party_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.party_type(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-check">
                    {{ form.party_kind.label(class="form-control-label") }}
                    {% if form.party_kind.errors %}
                        {{ form.party_kind(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.party_kind.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.party_kind(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.party_contactNo1.label(class="form-control-label") }}
                    {% if form.party_contactNo1.errors %}
                        {{ form.party_contactNo1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.party_contactNo1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.party_contactNo1(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.party_contactNo2.label(class="form-control-label") }}
                    {% if form.party_contactNo2.errors %}
                        {{ form.party_contactNo2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.party_contactNo2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.party_contactNo2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.party_address.label(class="form-control-label") }}
                    {% if form.party_address.errors %}
                        {{ form.party_address(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.party_address.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.party_address(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.party_about.label(class="form-control-label") }}
                    {% if form.party_about.errors %}
                        {{ form.party_about(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.party_about.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.party_about(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.party_fromAmount.label(class="form-control-label") }}
                    {% if form.party_fromAmount.errors %}
                        {{ form.party_fromAmount(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.party_fromAmount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.party_fromAmount(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.party_toAmount.label(class="form-control-label") }}
                    {% if form.party_toAmount.errors %}
                        {{ form.party_toAmount(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.party_toAmount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.party_toAmount(class="form-control form-control-lg") }}
                    {% endif %}
                </div>



                 <div class="form-group">
                    {{ form.party_logo.label(class="form-control-label") }}
                    {% if form.party_logo.errors %}
                        {{ form.party_logo(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.party_logo.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.party_logo(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.party_submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
