{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register as a Sponsorer</legend>
                <div class="form-group">
                    {{ form.sponsor_name.label(class="form-control-label") }}
                    {% if form.sponsor_name.errors %}
                        {{ form.sponsor_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sponsor_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sponsor_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


                <div class="form-group">
                    {{ form.sponsor_type.label(class="form-control-label") }}
                    {% if form.sponsor_type.errors %}
                        {{ form.sponsor_type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sponsor_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sponsor_type(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.sponsor_kind.label(class="form-control-label") }}
                    {% if form.sponsor_kind.errors %}
                        {{ form.sponsor_kind(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sponsor_kind.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sponsor_kind(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.sponsor_contactNo1.label(class="form-control-label") }}
                    {% if form.sponsor_contactNo1.errors %}
                        {{ form.sponsor_contactNo1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sponsor_contactNo1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sponsor_contactNo1(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.sponsor_contactNo2.label(class="form-control-label") }}
                    {% if form.sponsor_contactNo2.errors %}
                        {{ form.sponsor_contactNo2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sponsor_contactNo2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sponsor_contactNo2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.sponsor_address.label(class="form-control-label") }}
                    {% if form.sponsor_address.errors %}
                        {{ form.sponsor_address(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sponsor_address.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sponsor_address(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.sponsor_about.label(class="form-control-label") }}
                    {% if form.sponsor_about.errors %}
                        {{ form.sponsor_about(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sponsor_about.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sponsor_about(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.sponsor_fromAmount.label(class="form-control-label") }}
                    {% if form.sponsor_fromAmount.errors %}
                        {{ form.sponsor_fromAmount(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sponsor_fromAmount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sponsor_fromAmount(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.sponsor_toAmount.label(class="form-control-label") }}
                    {% if form.sponsor_toAmount.errors %}
                        {{ form.sponsor_toAmount(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sponsor_toAmount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sponsor_toAmount(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                 <div class="form-group">
                    {{ form.sponsor_logo.label(class="form-control-label") }}
                    {% if form.sponsor_logo.errors %}
                        {{ form.sponsor_logo(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sponsor_logo.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sponsor_logo(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.sponsor_submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
