
{% endblock content %}
{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">

				<div class="form-group">
                    {% for user in userList %}

                        {{ user.party_name }}
					    >Select Invite Status
						{% if form.invite_status.errors %}
	                        {{ form.invite_status(class="form-control form-control-lg is-invalid") }}
	                        <div class="invalid-feedback">
	                            {% for error in form.invite_status.errors %}
	                                <span>{{ error }}</span>
	                            {% endfor %}
	                        </div>
	                    {% else %}
	                        {{ form.invite_status(class="form-control form-control-lg") }}
	                    {% endif %}
                    {% endfor %}
				</div>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

{% endblock content %}
