
{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">

                <div class="form-group">
                <ol>
                    {% for user in userList %}
                        <li>
                        <a href="/user/{{ user.user_id }}"><h5>{{ user.sponsor_name }}</h5></a>
                        </li>
                        >Select Invite Status
                        {% if form.invite_status.errors %}
                        {{ form.invite_status(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form.invite_status.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                        {% else %}
                            {{ form.invite_status(class="form-control form-control-lg") }}
                        {% endif %}
                    {% endfor %}
                </ol>
                </div>

            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

{% endblock content %}
