{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action=""enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {% for user in userList %}
                        {{ user }}
                        {{ form.accept(class="btn btn-outline-info") }}
                        {% if form.accept %}
                            {{ form.accepted(value = True) }}
                        {% endif %}
                        {{ form.decline(class="btn btn-outline-info")}}
                        {% if form.decline %}
                            {{ form.accepted(value = False) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}
