{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="form-group">
        <h5> You've shortlisted the following parties. </h5> <hr>
            <ol>
                {% for user in userList %}
                    <li>
                        <a href="/user/{{ user.user_id }}"><h5><b>{{ user.party_name }},</a> Address:</b> {{user.party_address}}</h5>
                        <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            <fieldset>
                            <div class="form-group">
                                {{ form.invite(class="btn btn-outline-info") }}
                            </div>
                            </fieldset>
                        </form>
                    </li><br>
                {% endfor %}
            </ol>
            Invite them now!
        </div>
    </div>
{% endblock content %}
