{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ party_logo }}">
        <div class="media-body">
          <h2 class="account-heading">{{ sponsorUser.sponsor_n }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          <p class="text-secondary">{{ sponsorUser.sponsor_type }}</p>
          <p class="text-secondary">{{ sponsorUser.sponsor_about }}</p>
          <p class="text-secondary">{{ sponsorUser.sponsor_kind }}</p>
          <p class="text-secondary">{{ sponsorUser.sponsor_fromAmount}}</p>
          <p class="text-secondary">{{ sponsorUser.sponsor_toAmount}}</p>
          <p class="text-secondary">{{ sponsorUser.sponsor_contactNo1 }}</p>
          <p class="text-secondary">{{ sponsorUser.sponsor_contactNo2 }}</p>
          <p class="text-secondary">{{ sponsorUser.sponsor_address}}</p>
        </div>
      </div>
    </div>
{% endblock content %}
