{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ party_logo }}">
        <div class="media-body">
          <h2 class="account-heading">{{ partyUser.party_name }}</h2>
          <p class="text-secondary">{{ user2.email }}</p>

          <p class="text-secondary">{{ partyUser.party_type }}</p>
          <p class="text-secondary">{{ partyUser.party_about }}</p>
          <p class="text-secondary">{{ partyUser.party_kind }}</p>
          <p class="text-secondary">{{ partyUser.party_fromAmount}}</p>
          <p class="text-secondary">{{ partyUser.party_toAmount}}</p>
          <p class="text-secondary">{{ partyUser.party_contactNo1 }}</p>
          <p class="text-secondary">{{ partyUser.party_contactNo2 }}</p>
          <p class="text-secondary">{{ partyUser.party_address}}</p>
        </div>
      </div>
    </div>



{% endblock content %}
