{% extends "layout.html" %}
{% block content %}

<body>
    <div class="content-section">
        {% if flag %}
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <div class="form-group">
                    {{ form.invite(class="btn btn-outline-info") }}
                    <a class="btn btn-outline-info" href="{{ url_for('shortlisted', user2_id=partyUser.user_id) }}"><h6>Shortlist</h6></a></li>
                </div>
            </fieldset>
        </form>
        {% endif %}
                    <div class="media">
                        <img class="rounded-circle account-img" src="{{ party_logo }}">
                            <div class="media-body">
                                <h2 class="account-heading"> {{ partyUser.party_name }}</h2>
                                <p class="text-secondary"><b> Type: </b> {{ partyUser.party_type }}</p>
                                <p class="text-secondary"><b> Address: </b> {{ partyUser.party_address}}. <a href="{{url_for('individual_address', otherUser_id = partyUser.user_id)}}">View it on map </a></p>
                                <p class="text-secondary"><b> About {{partyUser.party_name}}: </b> {{ partyUser.party_about }}</p>
                                <p class="text-secondary"><b> Accepting: </b>{% if partyUser.party_kind == 'C' %}
                                                                                Cash, in the <b> range </b> {{ partyUser.party_fromAmount}} to {{ partyUser.party_toAmount}} Rs</p>
                                                                             {% else %}
                                                                                    Kind
                                                                             {% endif %}
                                <p class="text-secondary"><b> Contact {{partyUser.party_name}} at: </b><br>
                                    {{ partyUser.party_contactNo1 }} <br>
                                    {{ partyUser.party_contactNo2 }} <br>
                                    <!--YEH EMAIL CHANGE KARNA HAI-->
                                    Email: <a href="{{ url_for('email') }}">{{ user.email }} </a>
                                </p>
                            </div>
                    </div>
    </div>
</body>
{% endblock content %}
