
<html>
{% extends "layout.html" %}
{% block content %}
  <head>
    <script>
          // Initialize and add the map
          function initMap()
          {
            var loc = {lat: {{current_user.party_latitude}}, lng: {{current_user.party_longitude}}};
            // map opens, centered at this location
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 13, center: loc});
            // The marker, positioned at loc
            var marker = new google.maps.Marker({position: loc, map: map});

            var marker;
            marker = new google.maps.Marker
                (
                    {
                        position: new google.maps.LatLng({{sponsorUser.sponsor_latitude}}, {{sponsorUser.sponsor_longitude}})
                        map: map
                    }
                );
          }


    </script>
  </head>
  <body>
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ party_logo }}">
        <div class="media-body">
          <h2 class="account-heading">{{ sponsorUser.sponsor_name }}</h2>
          <p class="text-secondary"><b>Type:</b> {{ sponsorUser.sponsor_type }}</p>
          <p class="text-secondary"><b> About {{sponsorUser.sponsor_name}}: </b>{{ sponsorUser.sponsor_about }}</p>
          <p class="text-secondary"><b> Offering: </b> {{ sponsorUser.sponsor_kind }} in the <b> range </b> {{ sponsorUser.sponsor_fromAmount}} to {{ sponsorUser.sponsor_toAmount}} Rs</p>
          <p class="text-secondary"><b> Contact {{ sponsorUser.sponsor_name }} at: </b><br>
            {{ sponsorUser.sponsor_contactNo1 }}<br>
            {{ sponsorUser.sponsor_contactNo2 }}<br>
            Email: {{ sponsorUser.email }}
          </p>
          <p class="text-secondary"><b> Address: </b> {{ sponsorUser.sponsor_address}}</p>
          <hr>
          <p class="text-secondary">See how near {{sponsorUser.sponsor_name}} is from you:</p>
          <style>
          #map
            {
                height: 50%;
                width: 100%;
                left: 25%;
                right: 25%;
            }
          </style>
          <div id="map" class="content-section" style="position: center"></div>
          
          <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKlMl1HFw1wNG4sEDWzEe1Mnth9qWPyI8&callback=initMap">
          </script>
        </div>
      </div>
    </div>
  <body>
</html>
{% endblock content %}
