{% extends "layout.html" %}
{% block content %}

<div class="content-section card">
<h2> <b> Welcome to our project. </b> </h2>

<hr> 

<p> We are a group of students who developed this as a project that we undertook. <br> So, we're still learning and would absolutely welcome feedback and suggestions! Tell us <a href = {{url_for('team')}}> here. </a> </p>

<p> The current source code consists of:
<ul>
	<li><b>Front end: </b>HTML5, CSS, and Javascript. </li>
	<li><b>Backend: </b>Flask for Python3.6 and SQLAlchemy for database Management. </li>
	<li><b>APIs</b>: Google Maps API has been succesfully integrated, and the Facebook and Google logins are still under construction. (We try!) </li>
</ul>

<P> Since we are a new developing website, there are things like the Skype API and banking gateways that we were unable to incorporate . But we try our best to construct alternatives that come as close as possible to fulfilling a similar purpose.</P>

 <h3> We hope Spons.Central offers you a good exprience. </h3>

<a href="https://github.com/nidheekamble/FlaskApp"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork us on GitHub"></a>

</p>

</div>
{% endblock content %}
