.message-sender {
	background-color: #e0f5ff;
	padding: 10px;
	max-width: 500px;
	margin-bottom: 10px;
		}

.message-receiver {
	background-color: #f9f9f9;
	padding: 10px;
	max-width: 500px;
	margin-bottom: 10px;
}

.messaging {
	max-width: 600px;
	margin-top: 20px;
}

.message-text {
	margin-top: 5px;
}

.message-photo {
	width: 40px;
	height: 40px;
	border-radius: 75%;
	object-fit: cover;
	object-position: center center;
	display: inline-block;
}

.message-name {
	margin-left: 10px;
	display: inline-block;
}