
.btn-group .button {
display: inline-block;
background-color:  #0C3CBE5;
border: 1px solid grey;
color: white;
padding: 0px 5px;
text-align: center;
text-decoration: none;
font-size: 16px;
cursor: pointer;
width: 180px;
display: block;
}
.btn-group .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}
.btn-group .button:hover {
    background-color: #cbd5db;
}