
.btn-group .button {
display: inline-block;
background-color:  #0C3CBE5;
border: 1px solid grey;
color: white;
padding: 0px 5px;
text-align: center;
text-decoration: none;
font-size: 16px;
cursor: pointer;
width: 180px;
display: block;
}
.btn-group .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}
.btn-group .button:hover {
    background-color: #cbd5db;
}
    .dropbtn {
    background-color: #8fb0c9;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px solid grey;
    cursor: pointer;
    width: 310px;
    display: block;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 310px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color:  #cbd5db;
}
